:root {
  --bg-color: #121212;
  --accent-color: #D4AF37; /* Złoty kolor z Figmy */
  --text-color: #ffffff;
  --font-main: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
}